// #############################
// ###	TEMPLATE COLORS
// $outside_color: $darkBlue;
$outside_color: #212121;
$inside_color: #212121;
$text-color: #fff;

// #############################
// ###	PAGE LAYOUT
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-color: $outside_color;
	color: $text-color;
	box-sizing: border-box;
	transition: all 0.5s ease-in;
	// WHEN MOBILE MENU IS VISIBLE
	&.blocked {
		overflow: hidden;
	}
}



// ###	PAGE DIMENSIONS AND PADDINGS
$containerWidth: 1200px;
$mobilePadding: 0 12px 12px;
$desktopPadding: 0 20px;
$mobileBreakpoint: 769px;

.container {
	padding: $mobilePadding;
	position: relative;
	margin: auto;

	@media (min-width: $containerWidth) {
		width: $containerWidth;
		padding: $desktopPadding;
	}
	&.no-padding {
		padding: 0;
	}	
}
.homeSection {
	&__header {
		padding: 70px 0 0.5em;
		display: flex;
		align-items: center;

		&__icon {
			width: 50px;
			height: 50px;
			margin-right: 0.65em;

			&.whoIam {
				background: url(../pics/whoami.svg) center center no-repeat transparent;
			}
			&.workExperience {
				background: url(../pics/espartan.svg) center center no-repeat transparent;
			}
			&.contact {
				background: url(../pics/contacto2.svg) center center/contain no-repeat transparent;
			}
			&.skills {
				background: url(../pics/ninja2.svg) center center no-repeat transparent;
				background-size: contain;
			}
		}

		&__text {

		}

		h2 {
			font-family: $font-lighter;
			font-size: 1.875em;
			line-height: 1.15em;
			border-bottom: 2px solid #fff;
		}
	}
	&__content {

		p {
			font-family: $font-lighter;
			// font-size: 1.15em;
			// line-height: 1.15em;
			// margin: 0.45em 0;

			font-size: 0.95em;
    		margin: 5px 0;

		}
	}
	@media (min-width: $mobileBreakpoint) {		
		min-height: 100vh;		
	}
}




// #############################
// ###	ELEMENTS LAYOUT
img {
	max-width: 100%;
}
svg {
	max-width: 100%;
}
a {
	color: $red;
}
// #############################
// ###	UX LAYOUT DEFINITION
// avoid user select:
*, body {
	-webkit-touch-callout: none; // iOS Safari 
    -webkit-user-select: none;   // Chrome/Safari/Opera 
    -khtml-user-select: none;    // Konqueror 
    -moz-user-select: none;      // Firefox 
    -ms-user-select: none;       // Internet Explorer/Edge 
    user-select: none;           // Non-prefixed version, currently supported by any browser but < IE9 
}


// #############################
// ###	CUSTOM CLASSES
.static { position: static; }
.hidden { display: none; }
.cursive {
	font-style: oblique;
	font-style: cursive;
	font-style: italic;
}
.desktopOnly {
	@media (max-width: 768px) {
		display: none;
	}
}
