$hmc: $red;
$header_main_color: $hmc;

// delete test after merge
.mainHeader {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    height: 70px;
    // Not neccessary overflow with new design;
    // overflow: hidden;
	
	text-align: center;
    background-color: $bgColor;
    background-color: #040404;	// ADD VARIABLE
    z-index: 1000;
    // min-height: 90px;    
    transition: all 0.5s ease-in;




	.mainHeader__frontSection {
		transform: rotateX(0);
		transform-origin: 0 0;
		height: auto;
		transition: all 0.5s ease-in;
	}



	&__bar {
		background-color: $hmc;
		border-color: $hmc;
        height: 4px;
        position: absolute;
        width: 100%;
        left: 0;
        top: 25px;
        transition: all 0.8s ease-in;
        transform-origin: 0 0;
        z-index: 1000;

        &.barAnimated {
        	// animation-name: headerHR;
        	// animation-duration: 1.2s;
        	// animation-timing-function: ease-out;
        	// animation-iteration-count: 1;
        	transform-origin: 0 0;
        	transform: rotate(90deg);
        	transition: all 0.8s ease-in;
        }
	}
	&__subtitle {
		font-size: 1.2em;
		line-height: 2em;
    }    
	&__title {
		font-size: 1.3em;
		line-height: 1.6em;
    }    
    &__ninjaArea {
		position: absolute;
		top: 3px;
		right: 8px;
        z-index: 10000;
        
        &__ninja {
			background: url(../pics/ninja.png) 0 0/100% no-repeat transparent;
			width: 23px;
			height: 28px;
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
        }
        h3 {
			display: inline-block;
            vertical-align: middle;
            font-size: 0.7em;
		}
    }
    &__circle {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 52px;
        height: 52px;
        z-index: 10000;
        background: url(../pics/ninja.svg) center center no-repeat $red;
        background-size: 60%;
        border-radius: 50%;      
        border: 3px solid $blue;
        cursor: pointer;
        transition: all 0.5s ease-in;

        // QUITAR E IMPLEMENTAR NUEVO MENU MOVIL
        // &.openMenu {
        //     top: -150px;
        //     left: -150px;
        //     width: 300px;
        //     height: 300px;		
        //     transition: all 0.3s ease-in;
        //     border-width: 0;	// better to change color
        //     background-size: 0%;
        //     transition: all 0.3s ease-in;
        // }
    }

    // MERGING!!
    &__menu {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 1000;


	    transform: rotateX(90deg);
	    transform-origin: 0 0;


		$menu_text_color: #fff;
		box-sizing: border-box;
		padding: 0 3em;



		height: 0;

		transition: all 0.5s ease-in;
		

		// opacity: 0;        
        
		ul {
			display: flex;
			flex-flow: row;
			flex-wrap: nowrap;
			justify-content: space-around;

			li {
				min-width: 14em;
				transition: all 0.5s ease;
				padding: 5px 0;

				a {
					display: block;

					span {
						display: inline-block;
						vertical-align: middle;
					}

					svg path {
						transition: all 0.5s ease;
					}
				}

				&:hover {
					background-color: #000;

					svg path {
						fill: red;
					}
				}

				&.skills {

					&:hover {
						img {
							filter: none;
							-webkit-filter: grayscale(0);
						}
					}
				}
				&.portfolio {

					&:hover {
						img {
							filter: none;
							-webkit-filter: grayscale(0);
						}
					}
				}			

			}
		}
		ul {
			display: flex;
			flex-flow: row;
			flex-wrap: nowrap;
			justify-content: space-around;

			li {
				min-width: 14em;
				transition: all 0.5s ease;
				padding: 5px 0;

				a {
					display: block;

					span {
						display: inline-block;
						vertical-align: middle;
					}

					svg path {
						transition: all 0.5s ease;
					}
				}

				&:hover {
					background-color: #000;

					svg path {
						fill: red;
					}
				}

				&.skills {

					&:hover {
						img {
							filter: none;
							-webkit-filter: grayscale(0);
						}
					}
				}
				&.portfolio {

					&:hover {
						img {
							filter: none;
							-webkit-filter: grayscale(0);
						}
					}
				}			

			}
		}

		.icon__who {
			svg {
				width: 37px;
				height: 40px;			
			}
		}
		.icon__work {
			svg {
				width: 43px;
				height: 40px;			
			}
		}
		.icon__portfolio {
			img {
				width: 43px;
				height: 40px;		
				filter: gray;
				-webkit-filter: grayscale(1);
				transition: all 0.5s ease;				
			}
		}
		.icon__skills {
			img {
				width: 49px;
				height: 40px;		
				filter: gray;
				-webkit-filter: grayscale(1);
				transition: all 0.5s ease;	
			}
		}
		.menu__text {
			font-size: 1.2em;
			color: $menu_text_color;
		}


    }
	&.animated01 {
		// overflow: hidden;

		.mainHeader__frontSection {
			transform: rotateX(90deg);
			height: 0;
			transition: all 0.5s ease-in;
		}


		// hr, 
		h2, 
		h1 {
			// animation: destruction 0.5s ease-in 1s 1 forwards;
			animation: destruction 0.5s ease-in 1 forwards;
			animation-direction: normal;
		}

		h1 {

		}
		h2 {}

		.mainHeader__circle {
			
			// animation: moveCircle 1s ease-in 1 forwards;
   //          animation-direction: normal;

    transform: rotateY(180deg);
    background: #f13433;
    width: 113px;
    height: 113px;
    left: -50px;
    top: -50px;
    		transition: all 0.5s ease-in;

    		// NEW SHAPE
    		background: transparent;
    		border-radius: 0;
    		left: 0;
    		top: 0;
    		height: 68px;
    		width: 68px;

		}

		.mainHeader__menu {
			height: auto;
			transform-origin: 0 0;
			transform: rotateX(0);
			transition: all 0.5s ease-in;
			// animation: rotation 0.5s ease-in 2s 1 forwards;
			// animation: rotation 0.5s ease-in  1 forwards;
			// animation-direction: normal;


		}

		.mainHeader__ninjaArea {
			// top: 12px;
			// right: 12px;
			// transition: all 1s cubic-bezier(.39,.76,.82,.21);
			// transition-delay: 1.5s;
		}

		&.reverse {
			hr, h2, h1 {
				animation: destructionReverse 0.5s ease-in  1 backwards;
				animation-direction: normal;
			}

			.mainHeader__circle {
				animation: moveCircleReverse 0.5s ease-in  1 backwards;
				animation-direction: normal;
			}

			.mainHeader__menu {
				animation: rotationReverse 0.5s ease-in  1 backwards;
				animation-direction: normal;
			}

			.mainHeader__ninjaArea {
				top: 12px;
				right: 12px;
				transition: all 1s cubic-bezier(.39,.76,.82,.21);
				transition-delay: 1.5s;
			}			
		}

		&.foward {
			hr, h2, h1 {
				animation-direction: normal;
			}

			.mainHeader__circle {
				animation-direction: normal;
			}

			.mainHeader__menu {

				animation-direction: normal;
			}

			.mainHeader__ninjaAreaarea {
				top: 12px;
				right: 12px;
				transition: all 1s cubic-bezier(.39,.76,.82,.21);
				transition-delay: 1.5s;
			}			
		}

	}
    // END OF MERGING




	&.relative {
		position: relative;
    }
    
	&.rotated {
		transform: rotateX(90deg);
		transform-origin: 0 0;
		transition: all 0.5s ease-in;
	}


    @media (min-width: 1200px) {
        // width: 1200px;
        margin: auto;
    }

    &.sticky {
    	position: fixed;

    	transform: rotateY(0);
    	transition: all 0.5s ease-in;

    	&.animated01 {
			border-top: 1px solid $hmc;
			border-bottom: 1px solid $hmc;
    		transition: all 0.5s ease-in;
    	}

    }

    @media(max-width: 769px) {
    	overflow: hidden;
    	box-shadow: 0px 2px 4px 0px rgba(241, 52, 52, 0.5);
    	position: fixed;
    }
}