// delete test after merge
html body#test {

.mainHeader {
	text-align: center;
	position: relative;
	// min-height: 90px;

	&__bar {
		background-color: $hmc;
		border-color: $hmc;
		height: 4px;
	}

	&__subtitle {
		font-size: 1.8em;
		line-height: 2em;
    }
    
	&__title {
		font-size: 2em;
		line-height: 1.8em;
    }	    
    
    &__ninjaArea {
		position: absolute;
		top: 3px;
		right: 8px;
        z-index: 10000;
        
        &__ninja {
			background: url(../pics/ninja.png) 0 0/100% no-repeat transparent;
			width: 23px;
			height: 28px;
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
        }

        h3 {
			display: inline-block;
			vertical-align: middle;
		}
    }

    &__circle {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 52px;
        height: 52px;
        z-index: 10000;
        background: url(../pics/ninja.svg) center center no-repeat #c41b18;
        background-size: 60%;
        border-radius: 50%;      
        border: 3px solid #00b0eb;
        cursor: pointer;
        transition: all 0.3s ease-in;

        &.openMenu {
            top: -150px;
            left: -150px;
            width: 300px;
            height: 300px;		
            transition: all 0.3s ease-in;
            border-width: 0;	// better to change color
            background-size: 0%;
            transition: all 0.3s ease-in;
        }
    }
}






}