.tabs {
    display: flex;
    flex-wrap: wrap;

    label {
        order: 1;
        display: block;
        padding: 1rem;
        width: 50%;
        cursor: pointer;
        transition: background ease 0.2s;
        border: 1px solid;

        @media (min-width: $mobileBreakpoint) {               
            padding: 1rem 2rem;
        }
    }
    input {

        &[type="radio"] {
            display: none;

            &:checked {
                +label {
                    background: #2b2b2b;
                    border-bottom: 0;

                    +.tab {
                        display: block;
                        border: 1px solid;
                        border-top: 0;
                    }
                }
            }
        }
    }
    .tab {
        order: 99;
        flex-grow: 1;
        width: 100%;
        display: none;
        padding: 1rem;
        background: #2b2b2b;
        margin-bottom: 1.5em;

        &__header {

            &__text {
                font-size: 1.2em;
            }
            &__icon {
                display: inline-block;
                height: 36px;
                background-size: cover;
                vertical-align: middle;

                &.skills {
                    background: url(../pics/skills_icon.svg) center/cover no-repeat transparent;
                    width: 35px;
                }

                &.habilities {
                    background: url(../pics/habilities_icon.svg) center/cover no-repeat transparent;
                    width: 30px;
                }
            }
        }
        &__content {
            &__introText {
                font-size: 0.95em;
                font-family: $font-light;        
            }
        }
    }
}