

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  /*margin-right: 0.2rem;*/
  width: 50%;
  cursor: pointer;
  /*background:  #3CC0F8;*/
  /*font-weight: bold;*/
  transition: background ease 0.2s;
  border: 1px solid;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #2b2b2b;
  margin-bottom: 1.5em;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: #2b2b2b;
  border-bottom: 0;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
  border: 1px solid;
  border-top: 0;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

.tab__content__introText {
  font-size: 0.95em;
  font-family: $font-light;
}


// REFACTOR TO BEM
.tab {

  &__header {

    &__text {
      font-size: 1.2em;
    }

    &__icon {      
      display: inline-block;
      height: 35px;
      background-size: cover;
      vertical-align: middle;      

      &.skills {
        background: url(../pics/skills_icon.svg) center/cover no-repeat transparent ;
        width: 35px;
      }
      &.habilities {
        background: url(../pics/habilities_icon.svg) center/cover no-repeat transparent ;
        width: 30px;
      }
    }
  }
}