// Transform Black Backgrounds into Red Backgrounds
@mixin black2Red {
    filter: invert(18%) sepia(100%) saturate(6911%) hue-rotate(360deg) brightness(110%) contrast(116%);
}

// Avoid Text Selection
@mixin noTextSelection {
  -webkit-touch-callout: none; // iOS Safari 
    -webkit-user-select: none;   // Chrome/Safari/Opera 
    -khtml-user-select: none;    // Konqueror 
    -moz-user-select: none;      // Firefox 
    -ms-user-select: none;       // Internet Explorer/Edge 
    user-select: none;           // Non-prefixed version, currently supported by any browser but < IE9   
}

// CUSTOM SCROLLBAR
@mixin customScrollbars($scrollBackground, $scrollBarWidth, $bulletColor, $bulletRadius,$bulletShadow) {
  $FF_bulletColor: $accentColor;
  $FF_scrollBackground: darken($bgColor, 20%);

  // FIREFOX
  scrollbar-color: $FF_bulletColor $FF_scrollBackground;
  scrollbar-width: auto;
  // The complete scrollbar.
  &::-webkit-scrollbar {
    width: $scrollBarWidth;
  }
  // The draggable or scrolling element in a scrollbar
  &::-webkit-scrollbar-thumb {
    background: $bulletColor;
    border-radius: $bulletRadius;
    box-shadow: $bulletShadow;
  }
  // The empty space in the scrollbar below the moving bar
  &::-webkit-scrollbar-track {
    background: $scrollBackground;
  }
}