// Transform Black Backgrounds into Red Backgrounds
@mixin black2Red {
    filter: invert(18%) sepia(100%) saturate(6911%) hue-rotate(360deg) brightness(110%) contrast(116%);
}

// Avoid Text Selection
@mixin noTextSelection {
  -webkit-touch-callout: none; // iOS Safari 
    -webkit-user-select: none;   // Chrome/Safari/Opera 
    -khtml-user-select: none;    // Konqueror 
    -moz-user-select: none;      // Firefox 
    -ms-user-select: none;       // Internet Explorer/Edge 
    user-select: none;           // Non-prefixed version, currently supported by any browser but < IE9   
}

// CUSTOM SCROLLBAR
@mixin customScrollbars($scrollBackground, $scrollBarWidth, $bulletColor, $bulletRadius,$bulletShadow) {
  $FF_bulletColor: $accentColor;
  $FF_scrollBackground: darken($bgColor, 20%);

  // FIREFOX
  scrollbar-color: $FF_bulletColor $FF_scrollBackground;
  scrollbar-width: auto;
  // The complete scrollbar.
  &::-webkit-scrollbar {
    width: $scrollBarWidth;
  }
  // The draggable or scrolling element in a scrollbar
  &::-webkit-scrollbar-thumb {
    background: $bulletColor;
    border-radius: $bulletRadius;
    box-shadow: $bulletShadow;
  }
  // The empty space in the scrollbar below the moving bar
  &::-webkit-scrollbar-track {
    background: $scrollBackground;
  }
}


@mixin fillingBox($bgColor,$textColor) {
    position: relative;
    z-index: 1;
    transition: all 0.5s ease-in;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid $bgColor;
        border-bottom: 2px solid $bgColor;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;        
    }
    &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bgColor;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;        
    }
    &:hover {
        color: $textColor;

        &:before {
            transform: scaleY(1);
            opacity: 1;            
        }
        &:after {
            transform: scaleY(1);
            opacity: 1;            
        }
    }

}

@mixin sparkled {
    padding: 0 10px;
    position: relative;
    &::before,
    &::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform-origin: center;
    }

    &::before {
        border-top: 2px solid $red;
        border-bottom: 2px solid $red;
        transform: scale3d(0,1,1);
    }

    &::after {
        border-left: 2px solid $red;
        border-right: 2px solid $red;
        transform: scale3d(1,0,1);
    }

    &:hover::before,
    &:hover::after {
        transform: scale3d(1,1,1);
        transition: transform 900ms;
    }
}

