// COLORS TO ADD IN VARIABLES
$blue: #00b0eb;
$red: #f13433;
$darkGrey: #212121;
$green: #396f15;
$white: #fff;
$pink: #ea20d3;


// LAYOUT
$bgColor: $darkGrey;
$accentColor: $red;
$textFrontColor: $white;	// not used yet
$thirdColor: $blue;		// not used yet
$linkColor: #fabada;	// NOT APPLIED
$linkHoverColor: #fabada;	// NOT APPLIED


.pink {	color: $pink;}
.red { color: $red;}