// HOME WELCOME SECTION
.introSection {
	position: relative;
	padding: 0;
	height: 100vh;
	background-color: #212121;	
    z-index: 10000;

	>.container {
		display: flex;
		flex-direction: column;
		height: calc(100vh - 70px);
		padding-top: 0!important;
	}
	&__header {
		text-align: center;
		padding: 1.5em 0;

		h2 {
			font-size: 1.3em;
			color: $accentColor;
		}

		p {
			font-family: $font-lighter;
			font-size: 0.9em;
    		padding-top: .5em;
    		color: $thirdColor;
		}
	}
	&__updateCheck {
		position: absolute;
		bottom: 8px;
		left: 12px;
		font-size: 0.65em;
	}
}
.lobbyContainer {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr auto;
	grid-gap: 7px;
	grid-template-areas: "whoiam skills" "workExperience cvContact" "creativePills creativePills";
    align-items: center;
    justify-items: center;
    text-align: center;
    
	.lobbySection {
		transition: all 1s ease;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		cursor: pointer;
	    border: 1px dashed;
	    width: 100%;
	    height: 100%;
	    padding: 1em 0 1.3em;

		&__header {
			order: 2;
			margin-top: 0.6em;

			h3 {
				font-size: 1.1em;
			}
		}
		&__introText {
			display: none;
			position: relative;
			transition: all 1s ease;
			padding: 0 5%;
			font-size: 0.75em;
			padding-top: 0.3em;
			order: 3;
		}
		&__image {
			width: 54px;
    		justify-self: center;
    		transition: all 1s ease;
		}
	    &.whoIam {
	    	grid-area: whoiam;
		}	
		&.work {
			grid-area: workExperience;
		}
		&.skills {
			grid-area: skills;
		}
		&.contact {
			grid-area: cvContact;
		}
		&--circle {
			grid-area: creativePills;
		    display: grid;
		    grid-template-rows: 100%;
		    grid-template-columns: 80px auto auto;
		    border-radius: 0;
	        align-self: baseline;
	        border: 1px dashed;
            align-items: center;
            cursor: pointer;
            padding: 0.3em 0.5em 0 0;           

			header {
				margin-top: 0;

				h3 {
					font-size: 0.8em;
				}
			}
			figure {
				img {
					width: 45px;
				}
			}
			>div {
				padding-left: 1em;
			}
		}
		&:hover {
			transition: all 1s ease;
			border-color: $accentColor;

			.lobbySection {

				&__introText {
					transition: all 1s ease;
					color: $thirdColor;
				}
				&__image {
					transition: all 1s ease;

					svg>path {
						fill: $accentColor;
						transition: all 0.5s ease;
					}
					svg>g {
						fill: $accentColor;
						transition: all 0.5s ease;
					}
				}
			}
		}
		&.notHovered {
			opacity: 0.1;
		}
	}
}

// DESKTOP
@media(min-width: $mobileBreakpoint) {

	.introSection {
		padding: 3em 0 1.5em;
		font-family: $font-light;
		z-index: 10000;

		&__header {
			h2 {
				font-size: 2.7em!important;
				line-height: 1.3em;
			}
		}
		&__content {
			margin: 1.5em 0 0;

			p {
				line-height: 1.3em;
				margin: 0.2em 0!important;
			}
		}
	}
	.lobbyContainer {		
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		.lobbySection {
			transition: all 1s ease;
			width: 18%;  // not useful in grid
			max-width: 195px;
			height: 274px;
			text-align: center;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			border: 2px solid #fff;
			padding: 0.75em;
			justify-content: space-evenly;
			overflow: hidden;
			cursor: pointer;

			&__header {
				order: 1;

				h3 {
					font-size: 1.625em;
				}
			}
			&__introText {
				display: block;
				position: relative;
				left: -100%;
				height: 0;
				opacity: 0;
				font-size: 0;
				color: $accentColor;
				transition: all 1s ease;
				font-size: 1.3em;
			}
			&__image {
				order: 2;
				width: 130px;
				height: 130px;
				margin: 0;
			}
			&:hover {
				transition: all 1s ease;
				border-color: $accentColor;

				.lobbySection {

					&__introText {
						order: 3;
						transition: all 1s ease;
						left: 0;
						height: auto;
						top: 6px;
						opacity: 1;
						color: #fff;
						font-size: 0.9em;
						line-height: 1.22em;
					}

					&__header {
						order: 2;

						&__title {
							color: $accentColor;
							border-style: solid;
							border-color: #00b0eb;
							border-width: 1px 0 1px 0;
							padding: 2px 0;
						}
					}

					&__image {
						order: 1;
						width: 104px!important;
						height: 104px!important;
						transition: all 1s ease;

						svg>path {
							fill: $accentColor;
							transition: all 0.5s ease;
						}
						svg>g {
							fill: $accentColor;
							transition: all 0.5s ease;
						}
					}

				}
			}
			&.notHovered {
				opacity: 0.1;
			}
			&--circle {
				transition: all 0.5s ease;
				display: flex;
				flex-direction: column;
				border-radius: 50%;
				justify-content: center;
			    height: 150px;
			    width: 150px;
			    align-self: center;
			    padding: 1em;

			    header {
			    	margin: 0.5em 0 0.25em;

			    	h3 {
			    		font-size: 0.8em;
			    	}
			    }
			    figure {
			    	width: 80px;
			    	height: 77px;

			    	img {
			    		width: 100%;
			    	}
			    }
			    &:hover {
			    	transition: all 0.5s ease;
			    	background-color: #00b0eb;
			    }
			}
		}
	}
}