#skills {

    // PONER EN LAYOUT
    .introSection {
        margin-top: 1.5em;

        h2 {
            font-size: 2.5em;
            line-height: 1.3em;
            font-family: $font-light;
        }
    }
}

// testing
ul.skillsList {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;

    li {        
        margin: 20px 0;
        width: auto;
        text-align: center;
        display: flex;
        align-items: center;        
        
        .text {
            padding: 4px 0;
            border: 1px solid #fff;
            display: inline-flex;
            min-width: 104px;
            justify-content: center;            
            font-size: 0.8em;
        }
        .mark {
            display: inline-flex;
            margin-left: 10px;

            @at-root .square {
                background-color: transparent;
                transition: all 0.4s ease-in-out;

                &:after {                    
                    display: inline-block;
                    content: "\2606";
                    vertical-align: middle;
                    font-size: 1em;
                }
            }
        }
        .mobileText {
            font-size: 0.8em;
            padding-left: 1em;
            opacity: 0;
            transition: all 0.4s ease-in-out;
        }
        &:hover,
        &.clicked {
            color: $thirdColor;

            .square {
                color: $thirdColor;
                transition: all 0.2s ease-in-out;
            }
            .text {
                border-color: $thirdColor;
            }
            .mobileText {
                opacity: 1;
                transition: all 0.4s ease-in-out;

            }
        }
    }    
}

.skillsContainer {
    display: grid;
    grid-gap: 0 6px;
    padding-top: 0.5em;

    // GRID AREAS DELCARATION
    @at-root .frontList {
        grid-area: front;
    }
    @at-root .jsList {
        grid-area: js;
    }
    @at-root .otherList {
        grid-area: other;
    }
    @at-root .cmsList {
        grid-area: cms;
    }
    @at-root .uxList {
        grid-area: ux;
    }
    @at-root .w3cList {
        grid-area: w3c;
    }
    @at-root .gitList {
        grid-area: git;
    }
    @at-root .graphicList {
        grid-area: graphic;
    }

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "front js ux graphic" 
        "front js ux graphic" 
        "front js ux graphic" 
        "front js . graphic" 
        "front js w3c graphic" 
        "front js w3c graphic" 
        "front . w3c ." 
        "front cms . ." 
        "front cms git .";

    // COLORS
    .skillsList {
        padding-left: 1em;
        background-color: #484848;
    }


    @media (max-width: 321px) {
        .skillsList li .text {
            min-width: 75px!important;
            font-size: 0.65em!important;
        }
        .skillsList li .mark .square {
            font-size: 0.8em!important;    
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(15, 1fr);
        grid-template-areas: 
            "front js"
            "front js"
            "front js"
            "front js"
            "front js"
            "front js"  // 6
            "front ux"
            "front ux"
            "front ux" 
            "git graphic"
            "cms graphic"
            "cms graphic"
            "w3c graphic"
            "w3c graphic"
            "w3c graphic";
            grid-gap: 4px;

        .skillsList {
            font-size: 0.8em;
            border: 0;
            display: inline-grid!important;

            // COPIADO DE ARRIBA - ARREGLAR WHEN MOBILE FIRST
            li {        
                margin: 20px 0;
                width: auto;
                text-align: center;
                display: flex;
                align-items: center;        
                
                .text {
                    padding: 4px 0;
                    border: 1px solid #fff;
                    display: inline-flex;
                    min-width: 80px;
                    justify-content: center;            
                    font-size: 0.8em;
                }
                .mark {
                    display: inline-flex;
                    margin-left: 6px;

                    .square {
                        background-color: transparent;
                        transition: all 0.4s ease-in-out;
                    }
                }
                .mobileText {
                    font-size: 0.8em;
                    padding-left: 1em;
                    opacity: 0;
                    transition: all 0.4s ease-in-out;
                }

                &:hover {
                    color: $thirdColor;

                    .square {
                        transition: all 0.2s ease-in-out;
                    }
                    .mobileText {
                        opacity: 1;
                        transition: all 0.4s ease-in-out;
                    }
                }
            }   

        }
    }
}





// MOBILE !!!
    // add mobile first
@media (max-width: 960px) {
    .skillsContainer {
        // display: block;
        padding: 0;

        margin-top: 1em;
        position: relative;

        .skillsList {
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0.5em;      
            position: relative;

            li {
                margin: 0;
            }
        }

    }
}    

.skills__legend {
    margin: 1em 0;
    padding: 0.125em;
    box-shadow: 0 0 2px;

    &__item {
        align-items: center;
        display: inline-flex;
        padding: 4px;
        margin: 2px 1px;
        border: 1px dotted;

        &__content {
            display: inline-flex;

            .square {
                font-size: 0.65em;
                margin: 0;
            }
        }
        &__title {
            font-size: 0.7em;
            display: block;
            margin-left: 5px;
        }
    }
}