// DEFINIR UN ROOT DE WORKEXPERIENCE
// .introsection ESTÁ REPETIDO, HAY Q REFERENCIARLO POR DETRÁS

// .introSection {
//     // padding: 2em 0;

//     &__header {

//         h2 {
//             font-size: 1.7em;
//             font-family: $font-light;
//         }
//     }

//     &__content {
//         padding-top: 0.2em;

//         p {
//             font-family: $font-lighter;
//             font-size: 0.9em;
//             margin: 2px 0;
//         }
//     }
// }

.workExperience {
    background-color: #34353a;
    padding: 0 0 2em;    
}

.jobsContainer {
    transition: all 0.6s ease-in-out;
    display: flex;
    flex-direction: column;

    &__item {
        // margin-bottom: 2em;
        padding: 0.5em;
        box-shadow: 0 0 2px;
        padding: 6px;
        margin: 5px 2px;



        &:last-child {
            // margin-bottom: 0;
        }

        &__header {
            display: flex;
            align-items: center;

            &__logo {
                display: block;
                height: 60px;
                width: 140px;
                background-size: 100%;
            }

            &__info {
                margin-left: 0.25em;
                padding-left: 0.3em;
                text-align: center;
                align-self: flex-end;
                
                h4 {
                    color: #00aee9; // MAIN BLUE!!
                }

                h5 {
                    a {
                        color: $accentColor;
                        font-size: 0.75em;
                        line-height: 1.2em;
                        padding-top: 0.25em;
                        display: block;

                        &.offline {
                            opacity: 0.5;
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }

        &__content {
            // margin-top: 0.5em;
            display: table;
            width: 100%;

            &__item {
                font-family: $font-lighter;
                font-size: 0.875em;
                // display: table-row;

                // GRID RULES
                padding: 4px 0;

                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5) {
                    text-align: right;
                    padding-right: 2em;
                }




                // SPAM TO BE DELETED
                span {
                    display: table-cell;
                    vertical-align: top;
                    padding: 5px 0;

                    &.title {
                        // min-width: 140px;
                        width: 140px;
                        font-size: 0.9em;
                        line-height: 1.2em;
                        text-align: right;
                    }

                    &.content {
                        padding-left: 0.5em;
                        font-size: 0.95em;
                        line-height: 1.15em;
                    }
                }

                &.companyName {
                    p:first-child {
                        color: $blue;
                    }

                    a {
                        color: $accentColor;
                        font-size: 0.75em;
                        line-height: 1.2em;
                        padding-top: 0.25em;
                        display: block;

                        &.offline {
                            opacity: 0.5;
                            cursor: not-allowed;
                        }
                    }
                }

            }

            &.grid {
                display: grid;
                // grid-template-columns: 40% 60%;
                grid-template-columns: 101px auto;
                // grid-template-rows: 64px 1fr 1fr 1fr 1fr auto 1fr auto;
                grid-template-rows: auto 1fr 1fr 1fr 1fr auto 1fr auto;
                grid-template-areas: "logo companyName" "roleT roleC" "perT perC" "typeC contract" "functionsT functionsT" "functionsD functionsD" "techT techT" "techD techD";                                                                 

                p {
                    font-size: 0.8em;
                    padding-top: 2px;
                    padding-bottom: 0;
                }

                .logo { 
                    grid-area: logo; 
                    margin-top: 0.5em;
                    margin-right: 2em;
                
                }
                .companyName { 
                    grid-area: companyName; 
                    align-self: center;
                    justify-self: flex-start;
                    text-align: center;
                    font-size: inherit;

                    @media (min-width: 440px) {
                        justify-self: flex-start;
                        padding-left: 0.75em;
                    }

                }
                .perT { grid-area: perT; }
                .perD { 
                    grid-area: perC; 
                    font-size: 0.8em;
                }
                .roleT { grid-area: roleT; }
                .roleC { grid-area: roleC; }
                .perT { grid-area: perT; }
                .perC { grid-area: perC; }
                .typeC { grid-area: typeC; }
                .contract { grid-area: contract; }
                .functionsT { 
                    grid-area: functionsT; 
                    align-self: end;
                }
                .functionsD { 
                    grid-area: functionsD;
                    padding-top: 0;
                    // font-size: 0.91em;
                    line-height: 1.16em;
                    letter-spacing: 0.5px;
                    margin-top: 0;
                }
                .techT { 
                    grid-area: techT; 
                    align-self: end;
                }
                .techD { 
                    grid-area: techD; 
                    padding-top: 0;
                }
            }            
        }


        &.betsson {
            .logo {
                background: url("../pics/betsson.png") no-repeat scroll left center/contain transparent;
            }
        }
        &.secretcasinotips {
            .logo {
                background: url("../pics/secretcasinotips.png") no-repeat scroll 10% center/contain transparent;
            }
        }
        &.spinola {
            .logo {
                background: url("../pics/spinola.png") no-repeat scroll left center/contain transparent;
            }
        }
        &.web360 {
            .logo {
                background: url("../pics/360webstudio.png") no-repeat scroll left center/contain transparent;
            }
        }
        &.tipbet {
            .logo {
                background: url("../pics/tipbet-black.png") no-repeat scroll left center/contain transparent;
            }
        }
        &.zarpa {
            .logo {
                background: url("../pics/zarpa.png") no-repeat scroll left center/contain transparent;
            }
        }
        &.footballfather {
            .logo {
                background: url("../pics/footballfather.png") no-repeat scroll left center/contain transparent;
            }
        }
        &.itea {
            .logo {
                background: url("../pics/itea.png") no-repeat scroll left center/contain transparent;
            }
        }
        &.ticmedia {
            .logo {
                background: url("../pics/ticmedia.png") no-repeat scroll left center/contain transparent;
            }
        }
        &.farmaciaveiga {
            .logo {
                background: url("../pics/farmaciaveiga.png") no-repeat scroll left center/contain transparent;
            }
        }
        &.laquintar {
            .logo {
                background: url("../pics/laquintar.png") no-repeat scroll left center/contain transparent;
            }
        }
        &.adagiodanza {
            //  conseguir mejor logo
            .logo {
                background: url("../pics/adagio.png") no-repeat scroll left center/contain transparent;
            }
        }
        &.sleepngo {
            .logo {
                background: url("../pics/fnsrooms.png") no-repeat scroll left center/contain transparent;
            }
        }
    }


    // SCROLLED VERTICAL
    &.scrolledV {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 20em;

        &::-webkit-scrollbar {
            width: 0.5em;
            height: 0.5em;
        }
         
        &::-webkit-scrollbar-thumb {
            background-color: $blue;
            border-radius: 3px;
        }
    }


    // SCROLLED HORIZONTAL
    &.scrolledH {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 20em;
        flex-wrap: wrap;
        padding-top: 0.25em;
        padding-left: 1em;

        &::-webkit-scrollbar {
            width: 0.5em;
            height: 0.5em;
        }
         
        &::-webkit-scrollbar-thumb {
            background-color: $blue;
            border-radius: 3px;
        }

        >div {
            width: 100%;

            &::before {
                width: 0;
            }
        }

        // COLLISIONS:
        @media (max-width: 378px) {
            height: 30em!important;
        }
        @media (min-width:379px) and (max-width: 440px) {
            height: 24em!important;
        }
        @media (min-width:441px) and (max-width: 530px) {
            height: 24em!important;
        }
        @media (min-width:531px) and (max-width: 690px) {
            height: 22em!important;
        }

    }

    // SLICK COSAS


    .slick-prev {
        top: -13px;
        left: 0;
    }
    .slick-next {
        top: -13px;
        right: auto;
        left: 48px;
    }    
    .slick-dots {
        display: flex;        
        justify-content: space-around;        
        justify-content: space-evenly;
    }
    .slick-dots li button {
        border: 1px solid #fff;        
    }


    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: white;
    }
    .slick-dots li {
        width: 12px;
        height: 12px;
    }

}

// NUEVO!!!
@media (min-width: 960px) {
    .jobsContainer {
        box-shadow: 0 0 2px;

        &__item {
            box-shadow: none;

            &::before {
                content: "";
                width: 100%;
                padding: 0;
                border-top: 1px solid #8a8a8a;
                display: block;
            }

            &:first-child {

                &::before {
                    width: 0;
                }
            }
        }

        &.desc {       
            div:first-child {
                &::before {
                    width: 100%;
                }
            }
            div:last-child {
                &::before {
                    width: 0;
                }
            }                    
        }

    }
}


.techList {
    display: flex;
    flex-wrap: wrap;

    &__item {
        font-size: 0.8em;
        border: 1px dotted white;
        padding: 3px;
        margin: 0 6px 6px 0;
    }
}

.jobSelector {
    margin: 0.5em 0;
    display: flex;
    justify-content: flex-end;

    &__trigger {
        display: inline-flex;
        margin-left: 0.25em;
        position: relative;
        
        .settingsTrigger {
            position: relative;
            display: block;
            width: 24px;
            height: 24px;
            border: 1px solid $blue;
            background-color: #212121;
            background: url(../pics/settingsred.png) center center/contain no-repeat transparent;
            overflow: hidden;
            transition: all 0.5s ease-in-out;

            &.active {
                background: url(../pics/settings.png) center center/contain no-repeat transparent;
                border-color: $accentColor;

                &+ .settingsTrigger--title {
                    display: none;
                }
            }
            &--title {
                color: #fff;
                font-family: $font-lighter;
                font-size: 0;
                position: absolute;
                opacity: 0;
                left: -27px;
                bottom: 7px;
            }
            &.hovered {
                overflow: visible;
                transition: all 0.5s ease-in-out;

                &+ .settingsTrigger--title {
                    left: -40px;
                    opacity: 1;
                    font-size: 0.65em;                    
                }
            }
        }
    }

    &.sticky {
        // position: fixed;
        position: -webkit-sticky;
        position: sticky;
        width: 1160px;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding-right: 5px;
        padding-top: 70px;

        @media(max-width: 1160px) {
            width: 100%;
        }
    }

    &__controls {
        display: none;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;

        &__item {
            margin-left: 0.25em;


            // TODO: Create mixin for control items, with active state
            a {
                $d: 24px;
                display: block;
                border: 1px solid $blue;
                background-color: #212121;
                width: $d;
                height: $d;

                // it's better to avoid id's
                &#asc {
                    // background: url(../pics/asc.png) center center/contain no-repeat transparent;
                    color: #fff;
                    font-size: 11px;
                    line-height: 24px;
                    text-align: center;
                    border-color: $blue;

                    &:after {
                        content: "Des";
                        display: block;
                    }


                    &.active {
                        // background: url(../pics/desc.png) center center/contain no-repeat transparent;
                        &:after {
                            content: "Asc";
                            display: block;
                            // color: $red;
                        }
                    }

                    &:hover {
                        color: $red;
                        border-color: $red;
                    }
                }
                &.collapse {
                    background: url(../pics/minimize-icon.png) center center/contain no-repeat transparent;
                    background-size: 18px;

                    &.active {
                        background: url(../pics/maximize-icon.png) center center/contain no-repeat transparent;
                        background-size: 18px;
                    }
                }
                &#scrollV {
                    background: url(../pics/expand.png) center center/contain no-repeat transparent;
                
                    &.active {
                        background: url(../pics/collapse.png) center center/contain no-repeat transparent;
                        background-size: 18px;
                    }

                }
                &#scrollH {
                    background: url(../pics/slidericon.svg) center center/contain no-repeat transparent;
                    background-size: 18px;
                }
                &#pin {
                    background: url(../pics/pin.svg) center center/contain no-repeat transparent;
                    background-size: 18px;                    
                }

                &.active,
                &:hover {
                    border-color: $accentColor;
                }

            }
        }

        &.active {
            display: inline-flex;
        }
    }
}

.expandBar {
    opacity: 0;
    height: 0;
    transition: all 1s ease;

    a {
        opacity: 1;
        height: 0;
        transition: all 1s ease;
        border: 1px solid transparent;
    }
}

.jobsContainer.collapsed {
    transform-origin: 0 0;
    transform: scaleY(0);
    height: 0;
}

.jobsContainer.collapsed+.expandBar {
    opacity: 1;
    height: auto;
    transition: all 1s ease;

    a {
        transition: all 1s ease;
        display: block;
        height: auto;
        color: $accentColor;
        border: 1px solid #ccc;
        text-align: center;
        padding: 0.25em;
        opacity: 1;
    }
}
