// // ========= MANDATORY =========
@import "base/_reset.scss";					//OK
@import "base/_fonts.scss";					//OK

// // // ========= HELPERS (utils) =========
@import "helpers/_variables.scss";			// FLOJO: Solo colores;
@import "helpers/_mixins.scss";				//OK - 3 mixins
// @import "helpers/_animations.scss";		// NOT USING YET

// // // ==== LAYOUT ====
@import "layout/_layout.scss";				// GRAN MIERDA

// // // ==== COMPONENTS ====
@import "components/_header.scss";
@import "components/_tabSystem.scss";		// CSS OK; ADD HTML CLASSES FOR BEM


// // // ==== PAGES ====
@import "pages/_home__bem.scss";			// OK
@import "pages/_whoiam.scss";				// OK
@import "pages/_contact.scss";				// ELIMINAR ID'S Y CONFLICTOS CON LAYOUT

@import "pages/_skills.scss";				// ADD MOBILE FIRST, ELIMINAR ID'S Y CONFLICTOS CON LAYOUT
@import "pages/_certificates.scss";			// ADD BEM
@import "pages/_workexperience.scss";		// TRY TO QUIT IMPORTANT¡s

// // ==== VENDORS ====
@import "vendors/_slick-theme.scss";		// FUTURE: Implement my Own Slider;
@import "vendors/_slick.scss";				// FUTURE: Implement my Own Slider;


.copycat {
	color: green;
	position: absolute;
	bottom: 0;
	right: 0;
}