// #############################
// #ANCHOR PADDING FIX
$hederHeight: 70px;
// anchor links and sections
.anchor::before {
	display: block;
	content: "";
	padding-top: 70px; // altura del sticky header
}
main {
	@media(min-width: 769px) {
		padding-top: $hederHeight;
	}
}